repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.15.2"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.19.1"
    hooks:
      - id: mypy
        additional_dependencies: ["types-requests", "types-PyYAML"]
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        language: system
        entry: pytest -s
        pass_filenames: false
        types: [python]
        stages: [pre-commit]
    ## SQL ##
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 4.0.4
    hooks:
      - id: sqlfluff-lint
      - id: sqlfluff-fix
